.pagination {
  display: flex;
  align-items: center;
  gap: .5rem;
  &__item {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i{
      font-size: var(--icon-font-size);
    }
    
    &.active {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}