
.select-dropdown {
  width: 100%;
  position: relative;
  font-size: var(--small-font-size);
  &.select-dropdown--selected {
    padding: .5rem 2rem;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    cursor: pointer;
    i{
      font-size: 1rem;
    }
  }
  &__opts {
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    z-index: 1;
    top: calc(100% + .5rem);
    visibility: hidden;
    &.open {
      visibility: visible;
    }
  }
  &__opt {
    padding: .7rem 2rem;
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
      background-color: var(--primary-color);
      color: #fff;
    }
  }
}