.card-category {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  &:hover &__img {
    transform: scale(1.05);
  }
  &:hover &__name {
    color: var(--primary-color);
  }
  &__content {
    padding: 0 2rem;
    padding-top: 2rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
  }
  &__img {
    padding-top: 100%;
    position: relative;
    transition: .3s ease-in-out;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__name{
    text-transform: uppercase;
    font-weight: var(--font-weight-regular);
    font-size: var(--normal-font-size);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}